# Supabase Public API Configuration
NUXT_PUBLIC_SUPABASE_URL="https://iwusqqgldoqqglpkkswo.supabase.co"
NUXT_PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

# Prisma ORM Connection Strings (Supabase PostgreSQL)
DATABASE_URL="postgresql://postgres.iwusqqgldoqqglpkkswo:YOUR_SUPABASE_PASSWORD@aws-0-ap-northeast-1.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres.iwusqqgldoqqglpkkswo:YOUR_SUPABASE_PASSWORD@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres"
